
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;600;700;800&display=swap');
*{
box-sizing: border-box;
padding: 0;
margin: 0;

}
body{
font-family: 'Open Sans';
background-color: #FFFFFF;

}
h1 {
    
    font-size: 45px;
}
h3{
    font-size: 22px;
    margin-bottom: 1em;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    padding: 1em;   
}
section{
    overflow: hidden;
    padding: 4em 2em;
}


.link:hover {
    color: rgb(3, 3, 3);

}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header-top{
display: flex;
justify-content: space-between;
align-items: center;
}
.desktop-menu{
    display: flex;
    align-items: center;
    gap: 1em;
}
.menu__item{
display: flex;
font-size: 14px;
align-items: center;
}

.bgc-g{
    background-color:#F1F6FA ;
}

/* кнопки первого  блока */


.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 550px;
}

.primary-button{
    padding: 0.5em 1em;
    color: white;
     font-size: 14px;
} 
.secondary-button{
border: none;
border-radius: 4px;
 padding: 1em 4em;
 color: white;
 font-size: 14px;
cursor: pointer;
}
.third-button{
background: none;
}


.tcg-size{
    font-size: 20px;
    line-height: 2em;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.tcg{
color: #9497A1;

}
.bgc{
background-color: #185CFF;
}

.container-inner{
    display: flex;
    justify-content:left;
    gap: 10px;
    margin-top: 4em;
}

.title-container-inner{
    max-width: 550px;
    flex: 1;
    padding-top: 4em;
}


.image-container{

 position: relative;
 flex: 1;
}

.image-inner{
 position: absolute;    
  left: 0;
  top: 0;
  max-width: 850px;
}
.line {
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
    border-bottom: 1px solid #F1F6FA;
    order: 2;
}






.image-clients-logos{
    display: flex;
    flex-direction: row;
}
.clients-logos{
    max-width: 1110px;
    margin: 0 auto;
}
/* стили второго блока */
.advantages-section{
display: flex;
flex-direction: column  ;
align-items: center;
}
.title-advantages{
max-width: 540px;
text-align: center;
}

@media only screen and (max-width: 1000px){
.card{
display: grid;
grid-template-rows:repeat(3,1fr);


}
}

.card{
display: grid;
grid-auto-flow:column;
justify-content: center;
gap: 2em;

}

.advantages-card{
padding:3em 2em ;
background-color: #FFFFFF;
border-radius: 10px;
max-width: 350px;
box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
}
.advantages-icons{
    margin-bottom: 1.5em;
}
.tlh{
line-height: 1.5em;
}
/*.image-inner__mod {
 padding-left: 4em;

}*/
.image-inn{
 position: absolute;
 top: 0;
 right: 0;
max-width: 670px;
margin-right: 4em;
}

@media only screen and (max-width: 870px) {
    .image-inn{
        position: initial;
        max-width: 100%;
        min-width: 350px;
        align-items: center ;

    }
}









.blog-section{
display: flex;
justify-content: center;
text-align: center;

margin-bottom: 2em;
}   
.pbt{
  padding-bottom: 4em;  

}
.btn-link{
    margin-top: 1em;
    padding: 0.3em 1em;
    background: none;
    border-radius: 5px ;
    border: solid 1px #F1F6FA;
    color: #185CFF;
    font-size: 14px;
    cursor: pointer;
}
.blog-section-button{
    display: flex;
    justify-content: center ;
    margin-top: 2em;
    
}
/*                     block 5              */

.reviews-section{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5em;
}
.title-reviews-section{
    max-width: 445px;
}

.reviews-cards{
 display: flex;
 gap: 30px;
}
.reviews-cards__item{
position: relative;
 padding: 1.5em;
 max-width: 540px;
 border-radius: 2px;
box-shadow: 0px 1px 10px rgb(237, 237, 242);
}
.reviews-cards__image{
   position: absolute; 
   top: -2.2em;
}
.reviews-cards__description{
 padding-top: 3em;
 padding-bottom: 2em;
}
.reviews-cards__name{
    margin-bottom: 20px;
font-weight: 700;
font-size: 16px;
}
.controls-direction{
    display: flex;
    gap:15px;
}
.controls-direction__button-arrow{
 border: none;
 border-radius: 20px;
 background-color: #F0F9FF;
 padding: 0.5em 2em;
 cursor: pointer;
}

/*   block   6           */

.project-executed{
display: flex;
justify-content: space-around;
align-items: center;
gap: 20px;
padding-bottom: 1em;
}
.company-overview__nubmber{
margin-bottom: 0.2em;
font-size: 3.5em ;
font-weight: 800;
color:white;
text-align: center;
}
.tcw{
text-align: center;
 color: white;
 font-size: 16px; 
}

/*    block 7                   */

.contact-section{
display: flex;
gap: 150px;
justify-content: center;
}
.contact-section__title{
max-width: 540px;
flex: 1;
}
.contact-section__email {
    margin-bottom: 1.8em;

}

.contact-section__phone {
    margin-bottom: 1.8em;
}
.contact-section__form {
flex: 1;
max-width: 445px;
}

.txz-h2{
  font-size: 38px;  
  margin-bottom: 1em;
}
.text-contact{
    font-weight: 700;   
    font-size: 16px;
}

.form{
 display: flex;
 flex-direction: column;
 gap: 25px;
box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
border-radius: 6px;
background: #FFFFFF;
padding: 2.5em;
}
.form-contact__input{
 padding-bottom: 1em;
border: none;
border-bottom: 1px solid #515151;
}
.form-contact__input:focus {
    outline: none;
}
.form-button{
 margin-top: 5em;   
display: flex;
justify-content: end;
}
.form-button__submit{
    padding: 1em 3em ;
    border: none;
    border-radius: 5px;
    color: white;
}

/*  block 8      */
.txz-h2__mod{
    color:white;
    font-size: 38px;
}
.subscribe-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em ;
    
}


.tex-color{
font-weight: 400;
color: white;
font-size: 20px;
}
.subscribe-block__title{
max-width: 540px;

}

.form-subscribe-inner{
    display: flex;
}


.subscribe-input{
    width: 320px;
    background: #C9DCEC;
    border-radius: 6px;
    padding: 1.5em 2.5em 1.5em;
    border: none;
    margin-right: -20px;
}
.subscribe-input:focus {
    outline: none;
}

.subscribe-button{
    max-width: 125px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 1.5em 2.5em 1.5em;
    border: none;
    margin-left: 0;
}


@media only screen and (max-width: 870px) {


    h1 {
        font-size: 30px;
    }

    section {
        padding: 3em 1.5em;

    }
    .title-container-inner{
        padding-top: 2em;
        letter-spacing: -0.015em;
    }

    .tcg-size {
        font-size: 14px;
    }

    .container-inner {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .title-container-inner {
        order: 1;

    }

    .image-inner {
        position: initial;
        max-width: 100%;
        min-width: 350px;

    }


    .buttons {
        flex-direction: column;
    }

    .third-button {
        justify-content: center;
        color: #185CFF;
        border: #185CFF solid 2px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;


    }

    .line {
        padding: 0;

    }
    .pbt{
        margin-top: 2em;
        padding-bottom: 1.5em;
    }

    .project-executed{
        flex-direction: column;

    }
    .block-separator{
        display: none;
    }

    .block-separator__mod{
        border: 1px solid #F1F6FA;
        width: 270px;
        opacity: 0.2;
    }
    .reviews-section{
        display: block;

    }
    .title-reviews-section{
        text-align: center;
        margin-bottom: 2em;
    }

    .controls-direction{
    justify-content: flex-end;
    gap: 15px;
    min-width: 100px;
    }
    .controls-direction__button-arrow{
        padding: 0.5em 1.5em;
    }
    .txz-h2{
        font-size: 30px;
        padding: 0;
    }
     .contact-section{
        flex-direction: column;
        align-items: center;
        gap: 40px;
     }

    .contact-section__form{
        display: none;
    }
    .dsp-t{
        display: none;
    }
   .contact-section__mobile-button {
        background: #185CFF;
        align-items: center;
       border: none;
       border-radius: 4px;
       padding: 1.2em 4em;
       color: white;
       font-size: 14px;
       cursor: pointer;
       min-width: 320px;
}

.header-top-actions {
    display: none;
}

.desktop-menu {
    display: none;
}



}



@media only screen and (min-width: 870px) {

.contact-section__mobile-button{
    display: none;
}
.hamburger{
 display: none;
}
.mobail-menu{
    display: none;
}

}

@media only screen and (max-width: 870px) {
    
.header-top{
    position: relative;
}

.hamburger {
    width: 2em;
    height: 20px;
    z-index: 2;
}

.hamburger div {
    position: relative;
    width: 2em;
    height: 3px;
    border-radius: 3px;
    background-color: #185CFF;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.mobail-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #185CFF;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.mobail-menu__wrapper {
    padding: 1.5em;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

#toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 5px;
    background-color: white;
}

#toggle:checked+.hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
    transform: rotate(45deg);
    margin-top: -4px;
    background-color: white;
}

#toggle:checked+.hamburger+.mobail-menu {
    top: 0;
    transform: scale(1);
}

ul{
list-style: none;
}
.mobaile-list{
    color: white;
}
.mobaile-menu__top{
    margin-bottom: 2em;
}

.mobaile-list__item{
 max-width: 100%;
 height: 100%;
  border-bottom: solid 1px white; 
  margin-bottom: 2em;
}


.mobaile-menu__social-links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.5em;
}
.social-links__icons{
    display: flex;
    gap: 0.5em;
}

.mobaile-menu__link{
    margin-bottom: 4em;
}

.social-links__title{
    min-width: 70px;
    font-size: 16px;
    color:white;
}

}

#toggle {
    display: none;
}


@media only screen and (max-width: 1140px) {


.subscribe-block{
flex-direction: column;
gap:20px

}

.subscribe-block__title{
    text-align: center;
}

.subscribe-input{
    max-width: 100%;
    color: white;
    border: 1px solid white;
    background: none;
    margin-bottom:2em;
    margin-right: 0;
}
.form-subscribe-inner {
    display: flex;
    flex-direction: column;
}

.subscribe-button{
    max-width: 450px;
    padding: 1.5em 3em;
}


}
