
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;600;700;800&display=swap');
*{
box-sizing: border-box;
padding: 0;
margin: 0;

}
body{
font-family: 'Open Sans';
background-color: #FFFFFF;

}
h1 {
    
    font-size: 45px;
}
h3{
    font-size: 22px;
    margin-bottom: 1em;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
section{
    overflow: hidden;
    padding: 2em 2em;
}


.link:hover {
    color: rgb(3, 3, 3);

}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header-top{
display: flex;
justify-content: space-between;
align-items: center;
}
.desktop-menu{
    max-width: 511px;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__item{
display: inline-block;
margin-right: 1.8rem;
font-size: 14px;
}
.bgc-g{
    background-color:#F1F6FA ;
}

/* кнопки первого  блока */


.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 550px;
}

.primary-button{
    padding: 0.5em 1em;
    color: white;
     font-size: 14px;
} 
.secondary-button{
border: none;
border-radius: 4px;
 padding: 1em 4em;
 color: white;
 font-size: 14px;
cursor: pointer;
}
.third-button{
background: none;
}


.tcg-size{
    font-size: 20px;
    line-height: 2em;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.tcg{
color: #9497A1;

}
.bgc{
background-color: #185CFF;
}

.container-inner{
    display: flex;
    justify-content:left;
    gap: 10px;
    padding: 4em 0 ;
}
.title-container-inner{
    max-width: 550px;
    flex: 1;
    padding-top: 4em;
}

.image-container{
 position: relative;
 flex: 1;
}

.image-inner{
 position: absolute;    
  left: 0;
  top: 0;
  max-width: 850px;
}

.line{
padding-top: 2em;
padding-bottom: 2em;
width: 100%;
border-bottom: 1px solid #F1F6FA;
order: 2;
}

.image-clients-logos{
    display: flex;
    flex-direction: row;
}
.clients-logos{
    max-width: 1110px;
    margin: 0 auto;
}
/* стили второго блока */
.advantages-section{
display: flex;
flex-direction: column  ;
align-items: center;
}
.title-advantages{
margin-top: 4rem;
max-width: 540px;
text-align: center;
}

@media only screen and (max-width: 1000px){
.card{
display: grid;
grid-template-rows:repeat(3,1fr);

}
}

.card{
display: grid;
grid-auto-flow:column;
justify-content: center;
gap: 2em;
margin-bottom: 3em;
}

.advantages-card{
padding:3em 2em ;
background-color: #FFFFFF;
border-radius: 10px;
max-width: 350px;
}
.advantages-icons{
    margin-bottom: 1.5em;
}
.tlh{
line-height: 1.5em;
}
.image-inner__mod {
 padding-left: 4em;

}
.image-inn{
 position: absolute;
 top: 0;
 right: 0;
max-width: 670px;
margin-right: 4em;
}

.blog-section{
display: flex;
justify-content: center;

margin: 3em 0;
}   
.pbt{
    padding-bottom: 6em;
}
.btn-link{
    margin-top: 1em;
    padding: 0.3em 1em;
    background: none;
    border-radius: 5px ;
    border: solid 1px #F1F6FA;
    color: #185CFF;
    font-size: 14px;
    cursor: pointer;
}
.blog-section-button{
    display: flex;
    justify-content: center ;
    margin-bottom: 2em;
}
/*                     block 5              */

.reviews-section{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5em;
}
.title-reviews-section{
    max-width: 445px;
}

.reviews-cards{
 display: flex;
 gap: 30px;
}
.reviews-cards__item{
position: relative;
 padding: 1.5em;
 max-width: 540px;
 border-radius: 2px;
box-shadow: 0px 1px 10px rgb(237, 237, 242);
}
.reviews-cards__image{
   position: absolute; 
   top: -2.2em;
}
.reviews-cards__description{
 padding-top: 3em;
 padding-bottom: 2em;
}
.reviews-cards__name{
    margin-bottom: 20px;
font-weight: 700;
font-size: 16px;
}
.controls-direction{
    display: flex;
    gap:15px;
}
.controls-direction__button-arrow{
 border: none;
 border-radius: 20px;
 background-color: #F0F9FF;
 padding: 0.5em 2em;
 cursor: pointer;
}

/*   block   6           */

.project-executed{
display: flex;
justify-content: space-around;
align-items: center;
gap: 20px;
}
.company-overview__nubmber{
margin-bottom: 0.2em;
font-size: 3.5em ;
font-weight: 800;
color:white;
text-align: center;
}
.tcw{
text-align: center;
 color: white;
 font-size: 16px; 
}
